<h2>Tasks</h2>

<% @items.each do |item| %>
  <%= link_to "Edit #{item.name}", items_edit_path(item), class:"btn btn-default" %>
  <%= item.name %> *
  <%= item.description %>
  <%= link_to "Mark #{item.name} as Complete", items_destroy_path(item), class: "btn btn-danger", onclick: "myFunction(event)"%><br>
<% end %>
